.alertadmin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alertlinx {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}