@import '../../../scss/modules/cards';
@import '../../../scss/base/mixins.scss';
@import '../../../scss/base/variables';


$darktext : rgb(45, 3, 82);
$lighttext : #CCBCD7;

.pendingLinx{
    color : $lighttext;
}

.activeLinx{
    color : $darktext;
}

.modalcard{
    @include m-modal-card;
}

ul{
    li{
        @include flexrow(center);
        .linxbutt{
            width: 100%;
            @include flexrow(space-between);
            align-items: center;
            @include standardbutton($width : 80%, $justcont:start);
            &:hover {
                @include boxshadow;
            }

            .chainbutt{
                flex-grow: 1;
                @include flexrow(end);
            }

            .linxnamediv{
                @include flexrow(start);
            }
        }
    }
}

.alertadmin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alertlinx {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}