@import '../../../scss/modules/cards';
@import '../../../scss/base/mixins.scss';
@import '../../../scss/base/variables';

.modalcard{
    @include m-modal-card;
}

ul{
    li{
        display: flex;
        justify-content: center;
        p{
            color: $greenfontcolor;
        }
        button{
            @include standardbutton($width : 80%, $justcont:start);
            @include boxshadow;
            &:hover {
                box-shadow: none;
            }
        }
    }
}

.alertadmin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alertlinx {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}