@import '../../../../scss/base/mixins.scss';
@import '../../../../scss/modules/cards';
@import '../../../../scss/modules/mixins.scss';
@import '../../../../scss/base/variables';

.artcontainer {
    margin-bottom: $header-height-desktop + 10dvh;
    @include simplegrid(1);
    justify-items: center;
    justify-content: center;
    align-items: center;

    row-gap: 1rem;
    
    .noarticles{
        width: 500px;
    }
    article {
        @include m-article-card;
    }
}