<div class="artcontainer">
    @for(art of this.articles; track $index){
    <article>
        <button type="button" [disabled]="!isUser()" (click)="toggleArtFormModal(art)" [class.editart]="isUser()">
            <h1 class="break-words">{{art.title}}</h1>
        </button>
        <p style="color: gray;"><small>{{this.formatDate(art.postedOn)}}</small></p>
        <p class="artbody">{{art.body}}</p>
        <div class="artimg">
            @if(art.img !== null){
            <img [src]="art.imgUrl" (error)="loadingArts.set(true)">
            }
        </div>
    </article>
    }@empty{
        @if(isUser()){
        <article>
            <h1>Escribe tu primer artículo</h1>
            <p style="color: gray;"><small>{{this.currentDate.toLocaleString()}}</small></p>
            <p>Escribe algo para que lxs demás sepan quién eres...qué estás buscando... o en qué piensas 👾</p>
            <div class="flex justify-end">
                <button type="button" (click)="toggleArtFormModal(null)"
                    class=" hover:text-orange-600 flex flex-row p-3 rounded-lg">
                    <span class="material-symbols-outlined">
                        edit
                    </span>
                </button>
            </div>
        </article>
        }@else {
        <div class="noarticles">
            <span><img src="../../../../assets/imgs/bacteria/tiedthings3D.png" alt=""></span>
        </div>
        }
    }
</div>