@let online = 'green';
@let offline = 'rgb(211, 211, 211)';

@if(isOpen()){
<!-- Main modal -->
<div class="container">
    <div class="headerlist">
        <button type="button" (click)="closeModal()">
            <span class="material-symbols-outlined">
                close_small
            </span>
        </button>
    </div>
    <!-- Modal body -->
    <div class="bodylist">
        <ul>
            <div class="searchdiv">
                <input (input)="searchContact($event)" type="search" id="default-search"
                    class="block w-3/5 p-2 ps-10 text-sm text-purple-700 bg-transparent font-bold border border-purple-500 rounded-lg focus:ring-purple-700 focus:border-purple-700 "
                    placeholder="Introduce su nombre..." />
            </div>
            @for (conn of this.contacts(); track conn.userid) {
            <li (click)="goToConnectionProfile(conn)">
                <span class="material-symbols-outlined unchecked" [style.color]="determineState(conn.userid) ? online : offline">
                    trip_origin
                </span>
                <span class="material-symbols-outlined checked">
                    hdr_strong
                </span>
                <p>{{conn.linxname}}</p>
            </li>
            }
        </ul>
    </div>
</div>
}
