@if(isOpen()){

    @let name = "Hi everyone";

<!-- Main modal -->
<div class="modalcard">
    <div id="modalBackground" class="modalbg"></div>
    <!-- Modal content -->
    <div id="modalinter" tabindex="-1" aria-hidden="true" class="modalcontainer">
                <!-- Modal header -->
                <div class="flex items-center justify-between rounded-t dark:border-gray-600">
                    <h3>
                        <span id="intericon" class="material-symbols-outlined text-purple-300 p-3">bubble_chart</span>
                    </h3>
                    <button type="button" class="text-purple-300 hover:text-purple-400 bg-transparent ms-auto me-3 inline-flex justify-center items-center "
                        (click)="closeModal()">
                        <span class="material-symbols-outlined">close</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="modalbody">
                    <ul>
                        @for (inter of interactionsInbox; track inter.id) {
                            @switch (inter.type) {
                                @case ('INVITE') {
                                    <li>
                                        <p>⛓️ {{inter.fromAccount.linxname}} te invita a unirte a la cadena {{inter.chain.chainname}}</p>
                                        <div class="invitebuttons">
                                            <button>
                                                Aceptar
                                            </button>
                                            <button>
                                                Declinar
                                            </button>
                                        </div>
                                        <div class="alertinvite">
                                            <p>¿Estás segurx de querer declinar la invitación?</p>
                                            <div class="confirmbuttons">
                                                <button>
                                                    Volver
                                                </button>
                                                <button>
                                                    Estoy segurx
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                }
                                @case ('ONCHAIN') {
                                    
                                        <li>
                                            <button (click)="removeInteractionFromInbox(inter.id)">
                                                <span class="material-symbols-outlined">
                                                    disabled_by_default
                                                </span>
                                            </button>
                                            @if (inter.account.userid !== this._user?.userid) {
                                                <p>🔗 {{inter.account.linxname}} es ahora linx de la cadena {{inter.chain.chainName}}</p>
                                            }@else {
                                                <p>🔗 Ahora eres linx en la cadena {{inter.chain.chainName}} 🔗</p>
                                            }
                                        </li>
                                }
                                @case ('OFFCHAIN') {
                                    <li>
                                        <button (click)="removeInteractionFromInbox(inter.id)">
                                            <span class="material-symbols-outlined">
                                                disabled_by_default
                                            </span>
                                        </button>
                                        @if (inter.userid === this._user?.userid) {
                                            <p>👁️ Ya no formas parte de la cadena {{inter.chain?.chainName}}</p>
                                        }@else {
                                            <div class="offchainmessage">
                                                <p>👀 {{inter.linxname}} ya no está en la cadena</p>
                                                <button (click)="openChain(inter.chain!)" >{{inter.chain?.chainName}}</button>
                                            </div>
                                        }
                                    </li>
                                }
                                @case ('CONNECTION') {
                                    <li>
                                        <button (click)="removeInteractionFromInbox(inter.id)">
                                            <span class="material-symbols-outlined">
                                                disabled_by_default
                                            </span>
                                        </button>
                                        <div class="connmessage">
                                            <p>🌼 Has hecho una nueva conexión con </p>
                                            <button (click)="goToProfile(inter.account!)">{{inter.account?.linxname}}</button>
                                        </div>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>
    </div>
</div>


}