@import '../../scss/base/mixins.scss';
@import '../../scss/base/variables';

.bgcontainer{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    position: relative;
}

.oneimgcontainer{
    @include imgbg($top : 35% , $left : 0%, $imgwidth : 15vw);
    img{
        @include rotate(10);
    }
}

.firstimgcontainer{
    @include imgbg($top : 8% , $left : 0%, $imgwidth : 13vw);
    img{
        @include rotate(45);
    }
}

.secondimgcontainer{
    @include imgbg($top : 30% , $left : 70%, $imgwidth : 15vw);
    display: flex;
    flex-direction: row;

}

#rotate{
    width: 18vw;
    @include rotate(120);
}

.thirdimgcontainer{
    @include imgbg($top : 75% , $left : 10%, $imgwidth : 10vw);
    img{
        @include rotate(160);
    }
}

.twoimgcontainer{
    @include imgbg($top : 45% , $left : 20%, $imgwidth :13vw);
    img{
        @include rotate(60);
    }
}

.fourthimgcontainer{
    @include imgbg($top : 55% , $left : 70%, $imgwidth :20vw);
}

.siximgcontainer{
    @include imgbg($top : 40% , $left : 45%, $imgwidth :15vw);
    img{
        @include rotate(150);
    }
}

.container{
    @include contentcenter;
    justify-content: center;
    align-content: center;
}

.tooltips, .swipe{
    @include flexrowbet;
    height: 100%;
    width: 70%;
    justify-items: stretch;
    align-items: center;
}

.tip{
    @include flexrowbet(space-around);
}

.tiptext{
    margin-left: 0.75rem;
    font-size: 30px;
    color: rgb(101, 1, 101);
    font-weight: 600;
}

.swipebutt{
    @include flexcolcent;
    width: 100%;
}

.tipcont{
    @include flexcolcent(start);
}
