
    <div class="bgcontainer">
        <div class="oneimgcontainer">
            <img src="../../../assets/imgs/logos/lightbluechain3D.png" alt="linxtexture">
        </div>
        <div class="firstimgcontainer">
            <img src="../../../assets/imgs/logos/verticaltexturelink.png" alt="linxtexture">
        </div>
        <div class="secondimgcontainer">
            <img src="../../../assets/imgs/logos/lightpinkchain3D.png" alt="linxtexture">
        </div>
        <div class="twoimgcontainer">
            <img src="../../../assets/imgs/logos/horizonsimplelink.png" alt="linxtexture">
        </div>
        <div class="thirdimgcontainer">
            <img src="../../../assets/imgs/logos/verticalsimplelink.png" alt="linxsimple">
        </div>
        <div class="siximgcontainer">
            <img src="../../../assets/imgs/logos/purplechain3D.png" alt="linxsimple">
        </div>
        <div class="fourthimgcontainer">
            <img src="../../../assets/imgs/logos/verticalgreenlink.png" alt="linxgreen">
        </div>
        <div class="container">
            <div class="tooltips">
                <div class="tipcont">
                    <div (mouseenter)="mousOverReadTip($event)" (mouseleave)="mouseOutNextTip($event)" id="Match" class="tip hover:shadow-2xl hover:shadow-pink-400 px-5" data-tooltip-target="tooltip-animation-match"
                    data-tooltip-style="light" data-tooltip-placement="bottom">
                        <span class="material-symbols-outlined" id="thumb" style="font-size: 55px; color: rgb(101, 1, 101);" [class.animate-bounce]="this.tipsUnseen.includes('Match') && this.tipsToRead.includes('Match')">
                            join
                        </span>
                        <p class="tiptext">Conexión</p>
                    </div>
                </div>
                <div id="tooltip-animation-match" role="tooltip"
                    class="absolute z-10 invisible w-1/4 inline-block px-3 py-2 text-sm font-medium text-pink-400 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                    <p class="text-xl"><strong>El juego empieza con la primera CONEXIÓN</strong> </p>
                    <p>Deslizando <span class="material-symbols-outlined">swipe</span> encontrarás los perfiles que hemos encontrado para tí basándonos en tus preferencias y vuestra compatibilidad. <br> Se conectará a dos usuarixs cuando la conexión sea mutua <span class="material-symbols-outlined">join</span> a partir de entonces podréis enviaros mensajes  <span class="material-symbols-outlined"> deployed_code</span></p>
                    <div class="tooltip-arrow" data-popper-arrow></div>
                </div>
                <div class="tipcont">
                    <div (mouseenter)="mousOverReadTip($event)" (mouseleave)="mouseOutNextTip($event)" id="Linx" class="tip hover:shadow-2xl hover:shadow-yellow-300 px-5" data-tooltip-target="tooltip-animation-linx"
                    data-tooltip-style="light" data-tooltip-placement="bottom">
                        <img style="width: 40px; height: auto;" src="../../../../assets/imgs/logos/joinchainbutt.png" [class.animate-bounce]="this.tipsUnseen.includes('Linx') && this.tipsToRead.includes('Linx')">
                        <p class="tiptext">Linx</p>
                    </div>
                </div>
                <div id="tooltip-animation-linx" role="tooltip"
                    class="absolute z-10 invisible w-1/4 inline-block px-3 py-2 text-sm font-medium text-lime-200 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                    <p class="text-xl"><strong>La oportunidad de haceros LINX</strong></p>
                    <p>Revisa tus interacciones <span class="material-symbols-outlined">bubble_chart</span> para saber si has hecho una conexión con alguien. <br> Una vez conectadxs podréis crear una nueva cadena con vuestrx linx o invitarle a una de vuestras cadenas <br> e incluso proponer una unión de cadenas. <br> Estar en cadena os permite ver los perfiles y comunicaros con lxs linxs de esa cadena. <br> Seréis notificadxs de los eventos <span class="material-symbols-outlined">local_activity</span> e intercambiables <span class="material-symbols-outlined"> handshake</span> que se muevan en esa cadena.</p>
                    <div class="tooltip-arrow" data-popper-arrow></div>
                </div>
                <div class="tipcont">
                    <div (mouseenter)="mousOverReadTip($event)" (mouseleave)="mouseOutNextTip($event)" id="Cadena" class="tip hover:shadow-2xl hover:shadow-purple-400 px-5" data-tooltip-target="tooltip-animation-chain"
                    data-tooltip-style="light" data-tooltip-placement="bottom">
                        <img src="../../../assets/imgs/logos/mychainicon.png" style="width: 40px ; height: auto;opacity: 80%;" [class.animate-bounce]="this.tipsUnseen.includes('Cadena') && this.tipsToRead.includes('Cadena')">
                        <p class="tiptext">Cadena</p>
                    </div>
                </div>
                <div id="tooltip-animation-chain" role="tooltip"
                    class="absolute z-10 invisible w-1/4 inline-block px-3 py-2 text-sm font-medium text-purple-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                    <p class="text-xl"><strong>Una CADENA de confianza</strong></p>
                    <p>Las cadenas son administradas por lxs usuarixs que las han creado, ellxs son responsables de transmitir y mantener la confianza en el vínculo. <br> Lxs administradorxs tienen el deber y el privilegio de aceptar nuevxs linxs en la cadena o expulsar de la cadena a lxs linxs que no contribuyan a crear conexiones seguras. <br> En vuestras cadenas podréis intercambiar pertenencias <span class="material-symbols-outlined"> handshake</span> y publicar eventos <span class="material-symbols-outlined">local_activity</span> y ser notificadx de las publicaciones de todxs lxs linxs en cadena. <br> Recuerda mirar tus notificaciones <span class="material-symbols-outlined">lightning_stand</span>  para estar al día.</p>
                    <div class="tooltip-arrow" data-popper-arrow></div>
                </div>
            </div>
            <div class="swipe">
                <div class="swipebutt">
                    <button (click)="goToMeeting()" data-tooltip-target="tooltip-animation-swipe"
                    data-tooltip-style="light" data-tooltip-placement="top"
                        class="hover:shadow-none hover:bg-violet-400 hover:text-violet-700 hover:border-collapse shadow-2xl text-violet-500 bg-violet-300 border-b-8 border-r-4 border-violet-400 p-8 px-10 py-5 rounded-lg flex flex-col items-center">
                        <div class="pt-5 pb-1 px-3 text-3xl">
                            <span id="divers" class="material-symbols-outlined" style="font-size: 50px;">
                                swipe
                            </span>
                        </div>
                    </button>
                    <div id="tooltip-animation-swipe" role="tooltip"
                        class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-extralight transition-opacity duration-300 rounded-lg shadow-sm opacity-0 tooltip ">
                        <p style="font-size: 20px;" class="text-violet-700">Empieza a deslizar...</p>
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    