<header class="gridhead">
    <button (click)="this.goToWelcome()" class="companyname">
        <p class="greenp text-5xl text-lime-400">LINX</p>
        <p class="text-5xl text-purple-600">LINX</p>
    </button>
    <div class="headsignins">
        <div class="text-violet-500 me-4">
            <button (click)="this.goToSignin()" class="lettering hover:text-violet-800">Inicio sesión </button>
        </div>
        <div class="text-green-500">
            <button (click)="this.goToSignup()" class="lettering hover:text-green-800">Registro</button>
        </div>
    </div>
</header>