@import '../../../../../scss/modules/cards';
@import '../../../../../scss/base/mixins.scss';

.card{
    @extend .m_regis_card;

    h1{
        @extend .m_regis_card__title;
    }

    input{
        @extend .m_regis_card__input;
    }

    select{
        @extend .m_regis_card__select;
    }
}

.cardcontent{
    @include contentcenter;
    width: 100%;
    height: 100%;

    select{
        width: 400px;
    }
}

.langbox{
    height: 100%;
    width: 400px;
}