
.sitename{
    img{
        max-width: 25dvw;
    }
}

.sitenamesmall{
    img{
        width: 15vw;
    }
}

.baseheader {
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; 
}

.logoheader{
    position: fixed;
    top: 0;
    left: 10%;
    width: fit-content;
    transform: translateX(-50%);
    z-index: 1000; 
}

  