@if(isOpen()){
<!-- Main modal -->
<div class="modalcard">
    <div id="modalBackground" class="modalbg"></div>
    <div class="modalcontainer">
        <!-- Modal header -->
        <div class="flex justify-between p-4 md:p-5 rounded-t w-full">
            <p class="conversationame">
                {{chatRef.conversationname}}
            </p>
            <button type="button" style="font-size: 1.5rem;"
                class="bg-transparent rounded-lg ms-auto me-3 inline-flex justify-center items-center "
                (click)="closeModal()">
                <span class="material-symbols-outlined">close</span>
            </button>
        </div>
        <!-- Modal body -->

        <div #messageContainer class="modalbody" style="height: calc(50vh - 120px); overflow-y: auto; width: 100%;">

            @for (item of messages; track $index) {
            <div [class.linxmesscont]="item.sender.userid === this.receiveruserid"
                [class.usermesscont]="item.sender.userid === this.user.userid ">
                <div [class.linxmess]="item.sender.userid === this.receiveruserid"
                    [class.usermess]="item.sender.userid === this.user.userid ">
                    <div class="flex items-center space-x-2 rtl:space-x-reverse">
                        <span [class.othersender]="item.sender.userid === this.receiveruserid"
                            [class.usersender]="item.sender.userid === this.user.userid ">{{item.sender.linxname}}</span>
                        <span class="text-xs font-extralight text-gray-500"
                            style="font-style: italic;">{{this.formateDate(item.timestamp)}}</span>
                        @if(item.sender.userid === this.user.userid && item.isRead){
                        <span style="color: lightblue;" class="material-symbols-outlined">done_all</span>
                        }
                    </div>
                    <p class="text-sm font-normal py-2.5 text-gray-900 break-words">{{item.text}}</p>
                </div>
            </div>
            }@empty {
            <p class="font-extralight" style="font-style: italic; color: fuchsia;">Escribe tu primer mensaje a
                {{this.chatRef.conversationname}}...</p>
            }

        </div>
        <div class="formcontainer">
            <form>
                <button type="button"
                    class="inline-flex justify-center p-2 text-fuchsia-200 rounded-lg cursor-pointer hover:text-fuchsia-300 ">
                    <span class="material-symbols-outlined">
                        image
                    </span>
                </button>
                <textarea #messageTextarea id="chat" rows="1" (input)="setMessage($event)"
                    class="resize-none block mx-4 p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-lime-500 focus:border-lime-500"
                    placeholder="Escribe tu mensaje..."></textarea>
                <button type="button" (click)="sendMessage()"
                    class="inline-flex justify-center p-2 text-lime-500 rounded-full cursor-pointer hover:text-lime-300">
                    <svg class="w-5 h-5 rotate-90 rtl:-rotate-90" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor" viewBox="0 0 18 20">
                        <path
                            d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z" />
                    </svg>
                    <span class="sr-only">Send message</span>
                </button>
            </form>
        </div>

    </div>
</div>


}