@if(isOpen()){
<!-- Main modal -->
<div class="modalcard">
    <div id="modalBackground" class="modalbg"></div>
    <div class="modalcontainer">
        <!-- Modal header -->
        <div class="flex justify-between p-4 md:p-5 rounded-t w-full">
            <p class="conversationame">
                {{chatRef.name}}
            </p>
            <button type="button" style="font-size: 1.5rem;"
                class="bg-transparent rounded-lg ms-auto me-3 inline-flex justify-center items-center "
                (click)="closeModal()">
                <span class="material-symbols-outlined">close</span>
            </button>
        </div>
        <!-- Modal body -->

        <div #messageContainer class="modalbody">

            @for (item of this.chatRef.messages; track $index) {
            <div [class.linxmesscont]="item.sender.userid === this.chatRef.participants.userid_b"
                [class.usermesscont]="item.sender.userid === this.user.userid ">
                <div [class.linxmess]="item.sender.userid === this.chatRef.participants.userid_b"
                    [class.usermess]="item.sender.userid === this.user.userid ">
                    <div class="flex items-center space-x-2 rtl:space-x-reverse">
                        <span [class.othersender]="item.sender.userid === this.chatRef.participants.userid_b"
                            [class.usersender]="item.sender.userid === this.user.userid ">{{item.sender.linxname}}</span>
                        <span class="text-xs font-extralight text-gray-500"
                            style="font-style: italic;">{{this.formateDate(item.timestamp)}}</span>
                        @if(item.sender.userid === this.user.userid && item.isRead){
                        <span style="color: lightblue;" class="material-symbols-outlined">done_all</span>
                        }
                    </div>
                    <p class="text-sm font-normal py-2.5 text-gray-900 break-words">{{item.text}}</p>
                </div>
            </div>
            }@empty {
            <p class="font-extralight" style="font-style: italic; color: fuchsia;">Escribe tu primer mensaje a
                {{this.chatRef.name}}...</p>
            }

        </div>
        <div class="formcontainer">
            <form>
                <button type="button" class="imgbutton">
                    <span class="material-symbols-outlined">
                        image
                    </span>
                </button>
                <textarea #messageTextarea id="chat" rows="1" (input)="setMessage($event)"
                    placeholder="Escribe tu mensaje..."></textarea>
                <button type="button" class="sendbutton" (click)="sendMessage()">
                    <span class="material-symbols-outlined">
                        send
                    </span>
                </button>
            </form>
        </div>

    </div>
</div>


}