<div class="homecontainer">
  <div class="usernamearea">
      @if(isUser() && !isCandidate()){
      <p>{{ userdata?.account?.linxname }}</p>
      }@else{
      <p>{{isCandidate() ? candidateData.account!.linxname : linxdata!.linxname }}
        @if(isCandidate()){<a class="text-yellow-500 hover:text-yellow-600"><span
            class="material-symbols-outlined">flag</span></a>}
      </p>
      }
      @if(this.isLinx() || this.isMatch()){
      <button (click)="toggleChatModal()" class="ms-3 text-blue-300 hover:text-blue-500 pt-3">
        <span class="material-symbols-outlined">
          chat_bubble
        </span>
      </button>
      }
  </div>
  <div class="leftaside">
    @if (this.isUser()) {
      <app-adminaside></app-adminaside>
    }
    @if(this.isCandidate()){
      <app-candidatedata></app-candidatedata>
    }
  </div>
  <div class="centralcontent">
    <div class="articlesarea">
  
      @if(this.loadingArts()){
        
        <article role="status" class="animate-pulse">
          <div class="animateload"></div>
          <div class="animateload"></div>
          <div class="animateload"></div>
          <div class="animateload w-2/3"></div>
        </article>

      }@else {
        <app-articlestray [article]="this.article" [articles]="this.articles" [isArtFormOpen]="this.isArtFormOpen" [isUser]="this.isUser" [loadingArts]="this.loadingArts"></app-articlestray>
      }
      
    </div>
  </div>
  <div class="functionsaside">
    @if(this.isUser() && !this.isCandidate()){
      <app-homeaside [openArtModal]="isArtFormOpen" [openLinxModal]="this.isLinxsOpen" [userConnecions]="this.userConnections"></app-homeaside>
    }
  </div>
</div>

<app-articleform [isOpen]="isArtFormOpen" [article]="this.article" [articles]="articles"
  [userdata]="userdata"></app-articleform>

<ng-container #chatcompoContainer></ng-container>


