@import '../../../scss/base/mixins.scss';
@import '../../../scss/base/variables';
@import '../../../scss/modules/cards';
@import '../../../scss/modules/mixins.scss';

.homecontainer {
    @include simplegrid(4);
    @include no-scrollbar;
    width: 100%;
    height: 100%;
}

.usernamearea {
    margin-top: $header-height-desktop;
    grid-column: span 4;
    @include flexrow(center);

    p {
        @include homelinxname;
    }

    .chatbutt{
        margin-left: 1rem;
        color: $lightblue;
        &:hover{
            color : $blue;
        }
    }
}

.leftaside {
    grid-column: span 1;
    @include flexcol($content : start, $align : start);
}

.centralcontent {
    grid-column: span 2;
    @include flexcol($content : center, $align : center);
    .articlesarea{
        margin-top: 3rem;
    }
}

.functionsaside {
    grid-column: span 1;
}


@media only screen and (max-width: 768px) {}