$cardpadding : 2rem 1rem 2rem 1rem;
$inputtextcolor : lime;
$loginbgcolor : rgb(70, 54, 101);
$loginlabelcolor : #9970f9;

$formcardbgcolor : rgb(176, 135, 252); 
$formcardtitlecolor :rgb(124, 221, 253);
$formcardinputcolor : rgb(2, 144, 192);

$otherinputtext : #d504fa;

$warningValidation : rgb(255, 29, 146);

$labelaccountForm :  rgb(2, 247, 2);

$articlehover : rgb(255, 162, 63);
