@import '../../../scss/layouts/aside.scss';
@import '../../../scss/base/mixins.scss';
@import '../../../scss/base/variables';
@import '../../../scss/modules/variables';

aside {

    @include flexcol($content : start, $align : end);

    div {
        width: 100%;
        @include flexrow(end);
        padding-bottom: 1.5rem;

        p {
            font-size: 24px;
            margin-right: 0.75rem;
        }

        &.connections,
        &.events,
        &.exchanges,
        &.requests {
            width: 100%;
            button {
                width: fit-content;
                @include flexrow(end);

                &:hover {
                    color: $greenfontcolor;
                }
            }
        }

        &.newpost {
            width: 100%;
            flex-grow: 1;
            @include flexrow(end);

            button {
                width: fit-content;
                span {
                    font-size: 3.5rem;
                }
                &:hover {
                    @include strongorange;
                }
            }
        }
    }
}