// DEFAULT BODY, COLOR , FONT , LINKS , BUTTS VARIABLES 
$darkerbgcolor : rgb(135, 86, 226);
$ligtherbgcolor : #ec81fe;
$basebgcolor: linear-gradient(90deg, rgb(135, 86, 226) 10%, #ec81fe 90%);
$darkmodebgcolor : linear-gradient(180deg, rgb(39, 39, 39) 20%, rgb(62, 62, 62) 80%);
$baseplaintextcolor : rgb(204, 188, 215);
$greenfontcolor : rgb(8, 245, 8);
$font-ubuntu: "Ubuntu", monospace;

$linkcolor : #df2dfe;
$linkhovercolor : #e55afd;

$buttonbgcolor : #8847f8;
$buttonbghover : #976df9;
$buttoncolor : #ea77fe;
$buttonhovercolor : #9b01b6;

$articlebgcolor : rgba(255, 255, 255, 0.378);
$artextcolor :  rgb(67, 21, 152);
$articleformbgcolor : rgb(214, 184, 233);

$iconsizes: (40px , 80px, 160px);
$breakpoints: (576px, 768px, 992px );
$pointercolor : rgb(195, 159, 1);


$connectingcolor : #AB047F;

$lightblue : rgb(28, 183, 255);
$blue : rgb(28, 183, 255);
$darkblue : rgb(39, 130, 171);

$header-height-desktop : 4dvh;
$header-height-tablet: 2dvh;
$header-height-mobile: 1dvh;  
