// DEFAULT BODY, COLOR , FONT , LINKS , BUTTS VARIABLES 
$basebgcolor : rgb(95, 72, 138);
$baseplaintextcolor : rgb(204, 188, 215);
$greenfontcolor : rgb(8, 245, 8);
$font-ubuntu: "Ubuntu", monospace;
$linkcolor : #df2dfe;
$linkhovercolor : #e55afd;
$buttonbgcolor : #8847f8;
$buttonbghover : #976df9;
$buttoncolor : #ea77fe;
$buttonhovercolor : #9b01b6;
// STANDARD SIZES 
$iconsizes: (40px , 80px, 160px);
$breakpoints: (576px, 768px, 992px );