

@mixin centered{
    margin: 0px auto;
}

@mixin contentcenter{
    height: 80vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin simplegrid($cols){
    display: grid;
    grid-template-columns: repeat($cols, 1fr);
}

@mixin gridtemplate{
    display: grid;
    width: 90vw;
    grid-template-columns: 2fr 4fr 1fr 1fr;
}

@mixin flexrow($content:space-between){
    display: flex;
    flex-direction: row;
    justify-content: $content;
    align-items: center;
}

@mixin flexcol($content:space-between, $align : center){
    display: flex;
    flex-direction: column;
    justify-content: $content;
    align-items: $align;
    text-align: center;
}

@mixin logo($img , $w : 100% , $padd : 0 0 0 0,$marg : 0 0 0 0){
    background-image: url($img);
    background-position: center;
    width: $w;
    padding: $padd;
    margin: $marg;
}

@mixin rotate($deg){
    -webkit-transform: rotate(#{$deg + "deg"});
    -ms-transform:  rotate(#{$deg + "deg"});
    transform:  rotate(#{$deg + "deg"});
}

@mixin imgbg($top : 50% , $left : 50%, $imgwidth : 20vw){
    position: absolute;
    top: $top;
    left: $left;
    z-index: -1;
    img{
        width: $imgwidth;
        object-fit: cover; 
    }

}

@mixin no-scrollbar {
    overflow-y: scroll;
    overflow-x: hidden;
  
    &::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }
}


@mixin converbutton{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
    font-size: 1rem; 
    font-weight: bold;
    border-radius: 0.5rem; 
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}

@mixin boxshadow{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@mixin standardbutton($width : fit-content ,$justcont : space-between, $fontsize : 1rem, $bgcolor : transparent){
    display: flex;
    flex-direction: row;
    justify-content: $justcont;
    align-items: center;
    width: $width;
    box-sizing: border-box;
    padding: 0.75rem;
    font-size: $fontsize; 
    border-radius: 0.5rem; 
    background-color: $bgcolor;
    cursor: pointer;
    &:hover {
        @include boxshadow;
    }
}