@import '../../../scss/layouts/header.scss';
@import '../../../scss/base/mixins.scss';

.sitename{
    @extend .sitenamesmall;
}

header{
    @extend .baseheader;
    @include flexrow;
}

.headerlinks{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.linkscont{
    width: 20%;
    @include flexrow(space-around);
}

.userhome{
    flex-grow: 1;
    margin-left: 2rem;
}

#mychainimg{
    width: 50px;
}

#myaccountimg{
    width: 60px;
}

@media screen and (max-width: 767px) {


    #mychainimg{
        width: 35px;
    }
    
    #myaccountimg{
        width: 40px;
    }
}