.lettering{
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.gridhead {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    position : fixed;
    top : 0; 
    left : 0;
    right : 0;
    align-items: center;
}

.sessionheader {
    grid-column: 10 / span 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.userhome{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}
.companyname{
    position: relative;
    grid-column: 1 / span 8;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    opacity: 85%;
}

.companyname button {
    position: absolute;
    top: 0;
    left: 0;
}
.companyname p {
    letter-spacing: 50px;
    text-shadow: 2px 2px 5px rgba(70, 250, 61, 0.5);
}
.greenp {
    left: 5px; 
    top: 5px;  
}

#mychainimg{
    width: 65px;
}

#myaccountimg{
    width: 60px;
}

@media screen and (max-width: 767px) {
    
    .lettering {
        font-size: 1.125rem; 
        line-height: 1.75rem;
    }
    .gridhead {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        position : fixed;
        top : 0; 
        left : 0;
        right : 0;
    }

    .companyname p {
        font-size: 1rem;
    }

    #mychainimg{
        width: 45px;
    }
    
    #myaccountimg{
        width: 40px;
    }
}