<a routerLink="/Linx/Home/Profile" routerLinkActive="active"
    class="flex flex-row text-cyan-400 hover:text-blue-700 pt-3">
    <span class="material-symbols-outlined">
        assignment_ind
    </span>
    <p class="ps-2 pt-1">Perfil</p>
</a>
<a routerLink="/Linx/Home/Avisos" routerLinkActive="active"
    class="flex flex-row text-yellow-300 hover:text-amber-700 pt-3">
    <span class="material-symbols-outlined">crisis_alert</span>
    <p class="ps-2">Avisos</p>
</a>
<a routerLink="/Linx/Home/Reportes" routerLinkActive="active"
    class="flex flex-row text-yellow-300 hover:text-yellow-500 pt-3">
    <span class="material-symbols-outlined">flag</span>
    <p class="ps-2">Reportes</p>
</a>
<button (click)="logout()" class="flex flex-row items-inline pt-3 hover:text-gray-600 text-gray-400">
    <span class="material-symbols-outlined">
        meeting_room
    </span>
    <p class="pt-1 ps-1">Cerrar sesión</p>
</button>