<app-conversations [isOpen]="isChatsOpen" [chats]="this.privateChats" [groupchats]="this.groupchats"></app-conversations>
<app-interactions [isOpen]="isInteractionsOpen"></app-interactions>

<footer>
    <button (click)="toggleChatsModal()" class="text-green-300" data-tooltip-target="tooltip-animation-chats" data-tooltip-style="light">
        <span class="material-symbols-outlined">
            deployed_code
        </span>
    </button>
    <div id="tooltip-animation-chats" role="tooltip"
          class="absolute z-10 invisible inline-block px-3 py-2 text-green-300 transition-opacity duration-300 rounded-lg shadow-sm opacity-0 tooltip ">
          Conversaciones
    </div>
    <button (click)="goLinxme()" data-tooltip-target="tooltip-animation-linxme" data-tooltip-style="light" class="text-fuchsia-700">
        <span class="material-symbols-outlined">
            join_inner
        </span>
    </button>
    <div id="tooltip-animation-linxme" role="tooltip"
          class="absolute z-10 invisible inline-block px-3 py-2 text-fuchsia-800 transition-opacity duration-300 rounded-lg shadow-sm opacity-0 tooltip ">
          Conectar
    </div>
    <button (click)="toggleInteractionsModal()" class="text-purple-600" data-tooltip-target="tooltip-animation-interactions" data-tooltip-style="light">
        <span class="material-symbols-outlined">
            bubble_chart
        </span>
    </button>
    <div id="tooltip-animation-interactions" role="tooltip"
          class="absolute z-10 invisible inline-block px-3 py-2 text-purple-600 transition-opacity duration-300 rounded-lg shadow-sm opacity-0 tooltip ">
          Interacciones
    </div>
</footer>

