<!-- Main modal -->
@if(isOpen()){
<div class="modalcard">
    <div id="modalBackground" class="modalbg"></div>
    <!-- Modal content -->
    <div id="modalchain" tabindex="-1" aria-hidden="true" class="modalcontainer">
                <!-- Modal header -->
                <div class="modalheader">
                    <div class="col-span-3 flex align-middle justify-end mt-5">
                        <button type="button" class= "bg-transparent hover:text-white rounded-lg ms-auto me-3 inline-flex justify-center items-center "
                            (click)="closeModal()">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                
                    <div class="col-span-3 flex flex-row text-center ps-2 pt-4 mb-3">
                        <div class="w-full">
                            <img src="../../../assets/imgs/logos/mychainicon.png"
                                style="width: 40px ; height: auto;opacity: 80%;">
                        </div>
                    </div>
                
                </div>
                <!-- Modal body -->
                <div class="modalbody">
                    <ul>
                        <h2 class="userchainTitle">Mis cadenas</h2>
                        @for(chain of this.chains; track chain.chainID){
                        <li>
                            <button (click)="this.showLinxsOnChain(chain)" class="chainsbutt">
                                <p>{{chain.chainName}}</p>
                            </button>
                        </li>
                        }@empty{
                        <li>
                            <p style="font-style: italic;">No hay cadenas en común por el momento...</p>
                        </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
}

<app-linxsonchain [chain]="this.chain" [group]="this.group" [isOpen]="this.isLinxsOnChainOpen"
    [chainName]="this.chainName" [chainId]="this.chainId" [groupChat]="this.groupChats"></app-linxsonchain>