<!-- Main modal -->
@if(isOpen()){
<div class="modalcard">
    <div id="modalBackground" class="modalbg"></div>
    <div id="modalchain" tabindex="-1" aria-hidden="true" class="modalcontainer">
            <!-- Modal content -->
                <!-- Modal header -->
                <div class="modalheader">
                    @if(!isAdminGroups()){
                        <div class="col-span-2 flex flex-row text-center ps-2 pt-4 mb-3">
                            <div class="w-full">
                                <img src="../../../assets/imgs/logos/mychainicon.png"
                                    style="width: 40px ; height: auto;opacity: 80%;">
                            </div>
                        </div>
                    }
                    @if(isAdminGroups()){
                        <div class="col-span-2 justify-items-start">
                            <img class="cardtitleimg" src="../../../../assets/imgs/logos/verticalgreenlink.png" alt="Todas las cadenas que llevan a tí...">
                        </div>
                    }
                    <div class="col-span-1 flex align-middle justify-end">
                        <button type="button"
                            class= "bg-transparent hover:text-white rounded-lg ms-auto me-3 inline-flex justify-center items-center "
                            (click)="closeModal()">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                    
                </div>
                <!-- Modal body -->
                <div class="modalbody">
                    <ul>
                        <h2 class="userchainTitle">Mis cadenas</h2>
                        @if(isMyChain()){
                        @for(chain of this.myChains; track chain.chainid){
                        <li>
                            <button (click)="this.showLinxsOnChain(chain)" class="chainsbutt">
                                <p>{{chain.chainname}}</p>
                            </button>
                        </li>
                        }@empty {
                        <li>
                            <p>Todavía no has hecho cadena...</p>
                        </li>
                        }
                        }
                        @if(isSharedChain()){
                        @for(chain of this.sharedChains; track chain.chainid){
                        <li>
                            <button (click)="this.showLinxsOnChain(chain)" class="chainsbutt">
                                <p>{{chain.chainname}}</p>
                            </button>
                        </li>
                        }@empty{
                        <li>
                            <p style="font-style: italic;">No hay cadenas en común por el momento...</p>
                        </li>
                        }
                        }

                        @if(isAdminGroups()){
                        @for(group of this.adminGroups; track $index){
                        @if(group.chainadminID === this.user.userid){
                        <li>
                            <p>{{this.searchAdminNameOnMyLinxs(group.chainadminID)}} </p>
                        </li>
                        }@else {
                        <li>
                            <h2 class="linxchainTitle"> Cadenas de
                                {{this.searchAdminNameOnMyLinxs(group.chainadminID)}}</h2>
                        </li>
                        }
                        <li>
                            @if(group.chainadminID === this.user.userid){
                            <button (click)="this.showLinsOnGroup(group)" class="mychainsbutt">
                                <p>{{group.chainName}}</p>
                            </button>
                            }@else {
                            <button (click)="this.showLinsOnGroup(group)" class="chainsbutt">
                                <p>{{group.chainName}}</p>
                            </button>
                            }
                        </li>
                        }@empty{
                        <li>
                            <p style="font-style: italic;">No hay cadenas en común por el momento...</p>
                        </li>
                        }
                        }

                    </ul>
                </div>
            </div>
        </div>
}

<app-linxsonchain [isMyChain]="this.isMyChain" [isAllChains]="isAdminGroups" [isSharedChain]="isSharedChain"
    [chain]="this.chain" [group]="this.group" [isOpen]="this.isLinxsOnChainOpen"
    [chainName]="this.chainName" [chainId]="this.chainId" [groupChat]="this.groupChats"></app-linxsonchain>