@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

#circleicon{
    font-size: 50px;
}

.allchainstitle{
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: normal;
    color : gray;
    font-size: 1rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mychains {
    color : rgb(78, 77, 77);
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.windowchain {
    width: 70%;
    padding: 1rem;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.modalheader{
    display: grid;
    grid-template-columns: repeat(3,minmax(0, 1fr));
    align-items: center;
    border-bottom-width: 1px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}



@media only screen and (max-width: 768px) {
    .windowchain {
        width: 100%;
        margin: 0;
    }

    .modal-container {
        top: 0;
        left: 0;
        transform: none;
        width: 100%; 
        height: 100%;
        display: flex; 
        justify-content: center; 
        align-items: center; 
    }
}  