@import '../../../scss/modules/cards';
@import '../../../scss/base/mixins.scss';
@import '../../../scss/base/variables';

.modalcard {
    @include m-modal-card;

    .modalfooter{
        width: 95%;
        height: 45px;
        position: fixed;
        bottom: 2%;
        display: flex;
        justify-content: end;
        align-items: center;
        .newChainButt{
            padding: 0.7rem;
            background-color: $buttonbgcolor;
            color: $buttonhovercolor;
            border-radius: 25px;
            display: flex;
            justify-items: end;
            align-items: center;
            .addlink{
                display: none;
            }
            &:hover {
                color: $greenfontcolor;
                background-color: $buttonbghover;
                .addlink{
                    display: inline-block;
                }
            }

        }
    }
}

.chainsbutt {
    @include standardbutton($width : 100%, $justcont : start);

    @include flexrow($content:start);

    p{
        flex-grow: 1;
    }

    &:hover {
        box-shadow: none;

        p{
            color :  $buttonhovercolor;
        }
        .listpoint{
            display: none;
        }
        .chainico {
            display: block;
        }
    }
}
.chainico{
    display: none;
}

.mychainsbutt {
    @include standardbutton($width : 100%, $justcont : center);
    @include boxshadow;
    &:hover {
        box-shadow: none;
        
        p{
            color : $greenfontcolor;
        }
    }
}

ul {
    li {
        p {
            padding-left: 0.5rem
                /* 8px */
            ;
            padding-right: 0.5rem
                /* 8px */
            ;
            font-size: 1.5rem;
            color: $buttoncolor;
        }
    }
}

.cardtitleimg {
    @include rotate(70);
    width: 200px;
}

.linxchainTitle {
    color: rgb(52, 4, 118);
    font-weight: 600;
}

.userchainTitle {
    color: rgb(52, 4, 118);
    font-weight: 600;
}

#circleicon {
    font-size: 50px;
}

.mychains {
    color: rgb(78, 77, 77);
    font-weight: 400;
    font-style: normal;
}


@media only screen and (max-width: 768px) {}