@import '../../../../scss/base/base.scss';

.formcont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 90vw;
    overflow-y: hidden;
    position: relative; /* Añadir posición relativa al contenedor principal */
}

.imgcont{
    position: relative;
    width: 100%; 
}

.image-container img {
    width: 100%; 
    transform: translateX(20%);
}

.noticecard{
    position: absolute; /* Posiciona el noticecard de forma absoluta */
    top: 50%; /* Ajusta la posición superior según necesites */
    left: 50%; /* Ajusta la posición izquierda según necesites */
    transform: translate(-50%, -50%); /* Centra el noticecard */
    padding: 3rem 2rem 3rem 2rem ;
    background-color: rgba(246, 2, 246, 0.562);
    width: 40vw;
    border-radius: 30px;
}

.accessbutt{
    @extend .mainbutt;
}

.endformbutt{
    @extend .mainbutt;
}