@import '../../../../../scss/modules/cards';
@import '../../../../../scss/base/mixins.scss';

.card{
    @extend .m_regis_card;
    width: 60vw;
    h1{
        @extend .m_regis_card__title;
    }

    input{
        @extend .m_regis_card__input;
    }

    select{
        @extend .m_regis_card__select;
    }
}

.cardcontent{
    @include contentcenter;
    width: 100%;
    height: 100%;
}


.policontainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));;
    width: 100%;
    height: 100%;
}

.imgcont{
    grid-column: span 1 /span 1;
    grid-row: span 2 /span 2;;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 18vw;
    }
}

.policol{
    grid-column: span 1 /span 1;
    display: flex;
    flex-direction: column;   
    margin-bottom: 5%;
    padding-bottom: 2rem;
}

@media only screen and (max-width: 768px) {

}