@import '../../scss/base/variables';
@import '../../scss/base/mixins.scss';


.carouselContainer{
    @include contentcenter;
    height: 100%; 
    width: 100%;
}

.card{
    width: 80%;
    height: 100%;
    border-radius: 0.5rem; 
    @include boxshadow; 
    @include simplegrid(4);
    grid-template-rows: repeat(3, auto);
    align-items: center; 
    justify-content: center;
}

.backbutt{
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
    span{
        color : violet;
    }

    &:hover{
        span{
            filter: brightness(150%);
        }
    }
}

.forwardbutt{
    grid-column: 4 / span 1;
    grid-row: 1 / span 3;
    span{
        color : greenyellow;
    }

    &:hover{
        span{
            filter: brightness(150%);
        }
    }
}

.candidateCard {
    width: 30vw; 
    height: 50vh; 
    grid-column: span 2 / span 2;
    display: flex; 
    flex-direction: column; 
    align-content: center;
}

.connectbutt{
    position: relative;
    height: auto;
    width: auto;
    &:hover{
        .triporigin{
            background: linear-gradient(to right, $connectingcolor, #ff27f8);
            -webkit-background-clip: text; /* Para navegadores WebKit */
            background-clip: text; /* Propiedad estándar */
            -webkit-text-fill-color: transparent; /* Para navegadores WebKit */
            color: transparent; /* Propiedad estándar (por compatibilidad) */        
        }
    }
}

.triporigin{
    position: absolute; top: 0; left: 0;
    font-size: 4rem;
    transition: opacity 0.5s ease-out;
    background: linear-gradient(to left,  $connectingcolor, #ff27f8);
    -webkit-background-clip: text; /* Para navegadores WebKit */
    background-clip: text; /* Propiedad estándar */
    -webkit-text-fill-color: transparent; /* Para navegadores WebKit */
    color: transparent; /* Propiedad estándar (por compatibilidad) */
 
}

.hideorigin{
    font-size: 4rem;
    position: absolute; top: 0; left: 0;
    opacity: 0;
}

.animation{
    font-size: 4rem;
    opacity: 1;
    color: $connectingcolor;
    transition: opacity 1s ease-in-out;
}

.hideanimation {
    font-size: 4rem;
    opacity: 0; 
}
.foot, .candiname{
    grid-column: 2 / span 2;
    @include flexrow(center);
}

.candibutt{
    &:hover{
        .linxname{
            background: linear-gradient(to top, $darkerbgcolor,greenyellow);
            -webkit-background-clip: text; /* Para navegadores WebKit */
            background-clip: text; /* Propiedad estándar */
            -webkit-text-fill-color: transparent; /* Para navegadores WebKit */
            color: transparent; /* Propiedad estándar (por compatibilidad) */
        }
    }
}

.linxnamecontainer{
    margin-top: 20px;
    @include flexcol($content:center);
}

.linxname{
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style:normal;
    font-size: 3rem;
    background: linear-gradient(to bottom,$darkerbgcolor, greenyellow);
    -webkit-background-clip: text; /* Para navegadores WebKit */
    background-clip: text; /* Propiedad estándar */
    -webkit-text-fill-color: transparent; /* Para navegadores WebKit */
    color: transparent; /* Propiedad estándar (por compatibilidad) */
}

#next {
    font-size: 50px;
}

.article{
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: large;
    padding: 0.75rem;
    width: 100%;
    height: 80%;
}

.article h1 {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: xx-large;
}

.artimg{
    @include flexrow(center);
}

.overflowarticle{
    flex-grow: 0.5; 
    @include flexcol(center,center);   
    overflow-y: hidden;
}

.linxnameNoART{
    @include flexcol(center,center);   
    width: 100%;
    height: 100%;
    position:static; 
    top: 0; 
    left: 0; 
    right: 0;
    bottom: 0;
    background-image: url('../../../assets/imgs/bacteria/lilmonster3D.png'); 
    background-size: cover; 
    background-position: center; 
    opacity:80%;
}

.nolinxfound {
    position: relative;
    overflow: hidden;
    height: 80vh;    
    width: 50vw;
    padding-top: 40%;

    #heart {
        position: absolute;
        top: 6%; 
        left: 50%;
        transform: translateX(-50%);
        width: 550px; 
        max-width: none; 
    }

    #shapeone{
        position: absolute;
        top: 8%; 
        left: 40%;
        transform: translateX(-50%);
        width: 400px;
        max-width: none; 
    }

    #shapetwo{
        position: absolute;
        top: 20%; 
        left: 58%;
        transform: translateX(-50%);
        width: 400px;
        max-width: none; 
    }

    p {
        font-size: 1.2rem;
        padding-top: 10%;
        padding-bottom: 5%;
        letter-spacing: 10px;
        font-weight: 300;
        text-align: center;
        margin-top: 20px; 
    }
}



@media only screen and (max-width: 768px) {
    
}