@import '../../../scss/base/base.scss';
@import '../../../scss/base/mixins.scss';
@import '../../../scss/modules/cards';

.signuplink{
    font-size: 1.5rem;
    font-weight: 600;
    color: #d805fd;

    &:hover{
        color: #00ff2f;
    }
}

.forgotpwd{
    @extend .secondarylink;
}

.enterbutt{
    @extend .mainbutt;
}

.logincard{
    @extend .m_login_card;

    .logininput{
        @extend .m_login_card__input;
    }

    .loginlabel{
        @extend .m_login_card__label;
    }
}

.logincont{
    @include contentcenter;
}

#remember{
    background-color: #faf5ff;     
    width: 20px;

    &:checked{
        background-color: #8b5cf6;
    }

}