@import '../../../scss/base/base.scss';
@import '../../../scss/modules/cards';

.signuplink{
    font-size: 1.5rem;
    font-weight: 600;
    color: #d805fd;

    &:hover{
        color: #00ff2f;
    }
}

.forgotpwd{
    @extend .secondarylink;
}

.enterbutt{
    @extend .mainbutt;
}

.logincard{
    @extend .logincard;
}

.logincont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    width: 80vw;
}

#remember{
    background-color: #faf5ff;     
    width: 20px;

    &:checked{
        background-color: #8b5cf6;
    }

}