<div class="logincont">
  <form #loginForm="ngForm" (ngSubmit)="Signin(loginForm)" class="logincard">
    <div class="mb-5">
      <label for="emailorlinxname">Email o linxname</label>
      <input type="text" name="emailorlinxname" placeholder="introduce tu email o tu linxname" required [(ngModel)]="credentials.emailorlinxname"
        #emailorlinxname="ngModel" />
    </div>
    <div class="mb-1">
      <label for="password">Contraseña</label>
      <input type="password" name="password" required [(ngModel)]="credentials.password" #password="ngModel" />
    </div>
    <p class="forgotpwd"><a href="#">¿Has olvidado tu contraseña?</a></p>
    @if(loginerrors()){
    <p class="text-pink-600">Credenciales incorrectas.</p>
    }
    <div class="flex items-start mt-5 mb-5">
      <div class="flex items-center h-5">
        <input id="remember" type="checkbox"/>
      </div>
      <label for="remember" class="ms-2 text-sm font-medium text-purple-400">Recuérdame</label>
    </div>
    <div class="flex justify-center">
      <button type="submit" class="enterbutt">Iniciar sesión</button>
    </div>
  </form>
  <div class="max-w-sm mx-auto mt-5">
    <div class="flex items-center h-5 mt-5">
      <p class="mt-2">¿Todavía no tienes cuenta? <a href="#" (click)="this.goToSignup()" class="text-xl font-bold">Regístrate</a></p>
    </div>
  </div>
</div>