@if(isOpen()){
    <div class="fixed inset-0 z-50 flex justify-center items-center">
        <div id="modalBackground" class="fixed inset-0 bg-slate-800 opacity-50"></div>
        <div class="modal-container bg-white rounded-lg shadow overflow-x-hidden">
            <!-- Modal header -->
            <div class="flex justify-between p-4 md:p-5 border-b rounded-t  w-full">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    {{this.articleCopy.articleid !== undefined ?  'Editar artículo' :  'Nuevo artículo'}}
                </h3>
                <button type="button" (click)="closeModal()"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center ">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form #artForm="ngForm" (ngSubmit)="uploadArticle(artForm)" class="p-4 md:p-5" enctype="multipart/form-data">
                <div class="grid gap-4 mb-4 grid-cols-2">
                    <div class="col-span-2">
                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 ">Título</label>
                        <input type="text" name="title" id="name" maxlength="100"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                            [placeholder]="this.articleCopy.articleid !== undefined ? this.articleCopy.title : 'Escribe un título...'"
                            required [(ngModel)]="articleCopy.title" #title="ngModel">
                        <div class="h-2">
                            @if(artForm.submitted && artForm.control.get('title')?.invalid){
                            <span class="text-pink-600">Dale algún título...</span>
                            }
                        </div>
                    </div>
                    <div class="col-span-2">
                        <label for="bodycontent" class="block mb-2 text-sm font-medium text-gray-900">Cuerpo</label>
                        <textarea id="bodycontent" name="bodycontent" rows="6" maxlength="500"
                            class="resize-none block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 "
                            [placeholder]="this.articleCopy.articleid !== undefined ? this.articleCopy.body : 'Redacta el cuerpo...'"
                            required [(ngModel)]="articleCopy.body" #bodycontent="ngModel">
                        </textarea>
                        <div class="h-2">
                            @if(artForm.submitted && artForm.control.get('bodycontent')?.invalid){
                            <span class="text-pink-600">Escribe algo...</span>
                            }
                        </div>
                    </div>
                    <div class="col-span-2">
    
                    </div>
                    <div class="col-span-2">
                        @if(this.articleCopy.articleid !== undefined && this.articleCopy.img !== undefined && this.articleCopy.img !== ''){
                            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="img">Cambiar imagen del artículo</label>
                        }@else {
                            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="img">Imagen</label>
                        }
                        @if(this.articleCopy.articleid === undefined){
                        <input
                            class="block w-full mb-5 text-xs text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50  focus:outline-none "
                            id="small_size" type="file" name="img" accept="image/*" (change)="onFileSelected($event)">
                        }@else {
    
                        <input
                            class="block w-full mb-5 text-xs text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50  focus:outline-none "
                            id="small_size" type="file" name="img" accept="image/*" [(ngModel)]="articleCopy.img"
                            #img="ngModel" (change)="onFileSelected($event)">
                        }
                    </div>
                    <div class="col-span-2">
                        <input type="checkbox" name="useAsUserPic" [(ngModel)]="articleCopy.useAsProfilePic"
                            #useAsUserPic="ngModel" [checked]=" this.articleCopy.useAsProfilePic">
                        <label class="ps-3 pt-1">Usar como artículo principal</label>
                    </div>
                    <div class="col-span-2">
                        @if(this.userdata?.account?.articles?.length! >= 6 && this.articleCopy.articleid === undefined){
                        <p class="text-orange-500 font-extralight">( Solo pueden colgarse un máximo de 10 artículos en el
                            perfil. Si ya has
                            alcanzado el límite, al añadir uno nuevo se eliminará el más antiguo. Si quieres, puedes
                            archivarlos.)</p>
                        }
                    </div>
                    <div class="col-span-2 flex justify-end">
                        <button type="submit"
                            class="text-white inline-flex items-center bg-orange-500 hover:bg-orange-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                            Guardar
                        </button>
                    </div>
                </div>
            </form>
            <hr>
            @if(this.articleCopy.articleid !== undefined ){
            <div class="flex flex-row justify-between w-full px-3 pt-3 pb-3" style="background-color: whitesmoke;">
                <div class="flex flex-row items-center" style="color: red;">
                    <span class="material-symbols-outlined">delete</span>
                    <button (click)="deleteArticle()">Eliminar artículo</button>
                </div>
                @if(this.articleCopy.img !== undefined && this.articleCopy.img !== ''){
                <div class="flex flex-row items-center" style="color: gray">
                    <span class="material-symbols-outlined">imagesmode</span>
                    <button (click)="deleteArticleImg()">Borrar imagen</button>
                </div>
                }
            </div>
    
            }
        </div>
    </div>
    }